*{
    margin: 0;
    padding: 0;
}

.wrapper{
    margin: auto;
    width: 1200px;
}

.name{
    position: fixed;
    background-color:darkolivegreen;
    opacity: 0.5;
    font-size: 20px;
    color: white;
    font-family: "华文楷体";
}

.titlebox{
    background: url("https://xirealm.oss-cn-beijing.aliyuncs.com/xi/v2-4b4b5e7a2f44b06f0194fdfe28c9d563_r.jpg") no-repeat;
    height: 250px;
    width: 1707px;
    text-align: center;
}

.titlebox .title{
    color: white;
    line-height: 210px;
    font-size: 150px;
    font-style: italic;
    font-weight: bold;
    font-family: "Segoe Script";
}

.titlebox p{
    color: black;
    font-size: 30px;
    font-family: "华文楷体";
}

.work{
    position: relative;
    top: 20px;
    text-align: left;
}

.work h1{
    font-family: "华文楷体";
    font-size: 30px;
    margin-bottom: 10px;
}

li{
    font-family: "华文楷体";
    font-size: 25px;
}

a{
    text-decoration: underline;
    color: darkseagreen;
}

a:hover{
    color: darkolivegreen;
}
