/*LAMY*/
*{
    margin: 0;
    padding: 0;
} 

.wrapper{
    margin: auto;
    width: 1200px;
}

body{
    border: 2px solid gray; 
}

.banner{
    height: 720px;
    background: url(images/banner.png) no-repeat ; 
    background-size: 100%;
}

.banner .shadow{
    height: 710px; 
    background-color: rgba(0,0,0,0.5);
    z-index: 5;
}

.banner .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    z-index: 10;
}

.header a{
    height: 80px;
    width: 240px;
    line-height: 80px;
    text-decoration: none;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-family: "Microsoft YaHei";
}

.header a:hover{
    color: #e8024d;
}

.header .logo {
    height: 80px;
    width: 240px;
    background-color: #e8024d;
}

.header .logo img
{
    margin-top: 15px;
    margin-left: 15px;
}

.banner .text{
    width: 1000px;
    margin: auto; 
    margin-top: 150px;
    font-size: 100px;
    font-family: "Segoe Script" ;
    color: rgb(210, 210, 210);
    line-height: 1.31;
    text-align: center;
    z-index: 15;
}

.banner .text b {
    font-family: "Baskerville Old Face";
    font-size: 110px;
    font-style: italic;
    letter-spacing: 10px;
}

.banner .text b:hover{
    color: #e8024d;
}

.welcome{
    margin-top: 40px;
    height: 640px;
}

.welcome .decoration{
    padding-top: 40px;
    height: 400px;
    background: #eae7e8;
}

.welcomebox{
    height: 600px;
    position: relative;
}

.welcome .text{
    width: 730px;
    height: 505px;
    background-color: white;
    float: right;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.4);
}

.welcomebox .text h1{
    text-align: left;
    margin: 40px 50px 40px 80px;
    font-size: 55px;
    font-family:"Microsoft YaHei";
    font-weight: normal;
    color: black;
}

.welcomebox .text h1 span{
    font-family: "Baskerville Old Face" ;
}

.welcomebox .text p {
    text-align: left;
    margin: 40px 50px 40px 80px ;
    font-size: 20px;
    font-family: "宋体";
    line-height: 40px;
    color: black;
}

.welcomebox .text p span {
    font-family: "Microsoft YaHei";
    letter-spacing: 3px;
}

.welcomebox img {
    float: right;
}

.welcomebox .video{
    position: absolute;
    left: 180px;
    top: 340px;
    width: 365px;
    height: 235px;
    background-color: #e8024d;
    opacity: 0.65;
}

.video .play{
    margin: 80px auto;
    width: 60px;
    height: 60px;
}

.series{
    height: 530px;
    margin-top: 50px;
}

.series h1{
    text-align: center;
    font-size: 60px;
    font-family: "Microsoft YaHei";
    font-weight: normal;
    color: rgb(0, 0, 0);
}

.series h1 span{
    font-family: "Baskerville Old Face";
    letter-spacing: 2px;
}

.series ul{
    margin-top: 80px;
    height: 210px;
}

.series ul li{
    float: left;
    width: 400px;
    list-style: none;
    text-align: center;
}

.series ul li p{
    padding-top: 25px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 16px;
    line-height: 30px;
}

.series button{
    display: block;
    margin: auto;
    margin-top: 50px;
    width: 240px;
    height: 60px;
    border-style: none;
    background-color: black;
}

.series button a{
    float: left;
    margin-left: 40px;
    margin-right:20px;
    text-decoration: none;
    font-size: 30px;
    font-family: "宋体";
    font-weight: 1000;
    letter-spacing: 2px;
    color: white;
}

.series button a:hover{
    color: #e8024d;
}

.series button img{
    float: left;
    margin-top: 5px;
}

.series button img:hover{
    margin-left: 5px;
}

.picture{
    height: 400px;
}

.picture .decoration{
    height: 400px;
    background-color: #dad8d9;
}

.picturebox{
    position: relative;
    height: 400px;
    overflow: hidden;
}

.redpen{
    position: absolute;
    bottom: 200px;
    width: 1200px;
    height: 270px;
    z-index: 10;
}

.yellowpen{
    position: absolute;
    top: 180px;
    width: 1200px;
    height: 270px;
    z-index: 5;
}

.picturebox .logo{
    position: absolute;
    top: 50%;
    margin-top: -20px;
    height: 40px;
    width: 100px;
    background-color: #e8024d;
    text-align: center;
    line-height: 40px;
    color: white;
    font-style: italic;
    font-family: "Baskerville Old Face";
    letter-spacing: 2px;
    z-index: 15;
}

.saying{
    height: 600px;
}

.saying .decoration{
    height: 400px;
    background-color: #6f6d6d;
    text-align: center; 
}

.saying .text1{
    padding-top: 80px;
    font-family: "Segoe Script";
    font-size: 25px;
}

.saying .text2 {
    padding-top: 10px;
    padding-bottom: 50px;
    font-family: "Baskerville Old Face";
    font-size: 35px;
    font-weight: bold;
}

.sayingbox{
    height: 300px;
    width: 800px;
    margin: auto;
    background-color: white;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.4);
}

.sayingbox img{
    margin-top: 50px;
    margin-bottom: 40px;
}

.sayingbox p{
    margin-left: 100px;
    margin-right: 100px;
    text-align: left;
    font-size: 18px;
}

.sayingbox .box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    margin-top: 30px;
    height: 8px;
    width: 180px;
}

.sayingbox .box div{
    width: 40px;
    height: 8px;
    background-color: #dad8d9;
}

.sayingbox .box .choice {
    background-color: #6f6d6d;
}

.products{
    height: 880px;
    text-align: center;
}

.products .text1 {
    font-family: "Segoe Script";
    font-size: 25px;
}

.products .text2 {
    padding-top: 10px;
    padding-bottom: 50px;
    font-family: "Baskerville Old Face";
    font-size: 35px;
    font-weight: bold;
}

.productsbox{
    height: 550px;
    width: 950px;
    overflow: hidden; 
}
 
.productsbox .row1,.productsbox .row2{
    float: left;
    margin-right: 100px;
    width: 250px;
    height: 550px;
}

.productsbox .row3 {
    float: right;
    width: 250px;
    height: 550px;
}

.productsbox .a{
    width: 250px;
    height: 230px;
}

.productsbox .b{
    width: 250px;
    height: 300px;
    margin-top: 20px;
}

.productsbox .c{
    width: 250px;
    height: 370px;
}

.productsbox .d{
    width: 250px;
    height: 160px;
    margin-top: 20px;
}

.products button {
    display: block;
    margin: auto;
    margin-top: 80px;
    width: 240px;
    height: 60px;
    border-style: none;
    background-color: #4a3e42;
}

.products button a {
    float: left;
    margin-left: 40px;
    margin-right: 20px;
    text-decoration: none;
    font-size: 30px;
    font-family: "宋体";
    font-weight: 1000;
    letter-spacing: 2px;
    color: white;
}

.products button a:hover {
    color: #e8024d;
}

.products button img {
    float: left;
    margin-top: 5px;
}

.products button img:hover {
    margin-left: 5px;
}

.new{
    height: 740px;
}

.new .decoration{
    background: url(images/background.png);
    height: 400px;
    position: relative;
}

.newbox {
    display: inline-block;
    position: absolute;
    left: 50%;
    margin-left: -440px;
    margin-top: 100px;
    height:480px ;
    width: 880px;
    background-color: white;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.4);
}

.newbox li{
    display: inline-block;
    height: 130px;
    width: 840px;
    margin-top: 20px;
    margin-left: 20px;
    list-style: none;
    overflow: hidden;
}

.newbox li img{
    float: left;
    height: 130px;
    width: 380px;
    margin-right: 20px;
}

.newbox li p{
    float: left;
    height: 130px;
    width: 440px;
    vertical-align: bottom;
    font-size: 32px;
    font-family: "Baskerville Old Face";
    font-weight: bold;
}

.new button {
    position: absolute;
    left: 50%;
    margin-left: -120px;
    margin-top:640px;
    display: block;
    width: 240px;
    height: 60px;
    border-style: none;
    background-color: #e8024d;
}

.new button a {
    float: left;
    margin-left: 40px;
    margin-right: 20px;
    text-decoration: none;
    font-size: 30px;
    font-family: "宋体";
    font-weight: 1000;
    letter-spacing: 2px;
    color: white;
}

.new button a:hover {
    color: black;
}

.new button img {
    float: left;
    margin-top: 5px;
}

.new button img:hover {
    float: left;
    margin-left: 5px;
}

.endBackground{
    height: 850px;
    background: url(images/endbackground.png) no-repeat;
    background-size: 100%;
}

.endBackground .shadow {
    height: 850px;
    background-color: rgba(250, 250, 250, 0.1);
    z-index: 5;
}

.endBackground .text{
    margin: auto;
    height:300px;
    width: 620px;
    padding-top: 150px;
    font-style: italic;
    font-weight: 1000;
}

.endBackground .text1{
    float: left;
    height: 100px;
    width: 110px ;
    padding-top: 60px;
    line-height: 20px;
    text-align: right;
    font-size: 20px;
    font-family: "Baskerville Old Face";
}

.endBackground .text2{
    float: left;
    height: 100px;
    width: 380px;
    padding-right: 20px;
    line-height: 100px;
    text-align: center;
    font-size: 120px;
    font-family: "Microsoft YaHei";
    color: rgb(210,210,210);
}

.endBackground .text2:hover{
    color: #e8024d;
}

.endBackground .text3{
    float: right; 
    height: 100px;
    width: 110px;
    padding-top: 60px;
    line-height: 20px;
    text-align: left;
    font-size: 20px;
    font-family: "Baskerville Old Face";
}

.endBackground .text span{
    letter-spacing: 6px;
}

.end{
    height: 40px;
    background-color: #535353;
    text-align: center;
    line-height: 40px;
    color: white;
    font-family: "宋体";
}
